*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cards-container{
    display: flex;
    gap: 20px;

}

.card{
    height: 350px;
    width: 250px;
    border: 1px solid;
    font-size: 2em;
    display: grid;
    grid-template-rows: auto 1fr auto;
    border-radius: 5px;
}

.card-heart{
    height: 350px;
    width: 250px;
    color: red;
    border: 1px solid;
    font-size: 2em;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 1fr;
    border-radius: 5px;
}

.middle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
}

.middle-heart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.3em;
}

.top, .bottom{
    padding: 10px;  
}

.bottom{
    transform: rotate(180deg);
}

@media screen and (max-width:799px){
     .cards-container{
        flex-direction: column;
        padding: 20px 0;
     }
}