*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.search-container{
    width: 350px;
}

.search-bar{
   width: 170px;
   overflow: hidden;
   border: 1px solid #ccc;
   border-radius: 10px;
   padding: 10px;
   text-overflow: ellipsis;
   transition: all 1s;
}

input.search-bar:focus {
    width: 350px;
    border: 3px solid red;
    outline: none;
}

input:focus::placeholder {
    color: transparent;
}

.hide{
    border: 0;
    position: absolute;
    height: 1px;
    margin: -1px;
    width: 1px;
    overflow: hidden;
}